<div>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>Acerca de nosotros</h3>
    <h4>Somos fánaticos de las series igual que tu y nos encanta investigar todo sobre el universo que encapsulan.</h4>
    <h5>Es por esto que hemos preparado la información para ti, sin riesgo de spoiler!</h5>
  <a href="#" data-toggle="tooltip" title="Gracias!">De vuelta a la página de inicio.</a>
  <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>

</body>
</html>
</div>